{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Confermi di voler eliminare l'evento di {{ evento.gioco }}</h1>
        <h3>L'evento era previsto il giorno {{ evento.data_ora.strftime('%d/%m/%Y')}} alle {{ evento.data_ora.strftime('%H:%M')}}</h3>
        <br>
        <form action="/elimina/{{ evento.id }}" method="POST">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="conferma" id="conferma" name="conferma">
                <label class="form-check-label" for="conferma">
                  Confermo
                </label>
              </div>
              <br>
            <button type="submit" class="btn btn-primary">Esegui</button>
        </form>
    </div>
{% endblock %}